<html xmlns:th="http://www.thymeleaf.org">


<h1> <b>Ievadiet produkta informaciju</b> </h1>

	<body>
		
		<form action="#" th:action="@{/updateProduct/__${id}__}" th:object="${product}" method="post">
			
			<table>
			<tr>
			
				<td><label>TITLE:</label></td>
				<td><input type="text" th:field="*{title}"/></td> <!-- tiek saglabāts teksts product.title -->
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
			</tr>
			
			<tr>
				<td><label>DESCRIPTION:</label></td>
				<td><input type="text" th:field="*{description}"/></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>	
			</tr>
			

			<tr>	
				<td><label>PRICE:</label></td>
				<td><input type="text" th:field="*{price}"/></td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
			</tr>
			
			<tr>	
				<td><label>QUANTITY:</label></td>
				<td><input type="text" th:field="*{quantity}"/></td>
				<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"/>
			</tr>
			
			</table>
			
			<input type="submit" value="Save changes">
		</form>

	
		<p>@BadMoodDuck all rights reserved</p>
	</body>


</html>